################################
# IntelliJ
################################
.idea/
*.iml

################################
# Maven build
################################
target/

################################
# Logs
################################
*.log

################################
# OS files
################################
.DS_Store
Thumbs.db

################################
# Environment variables / secrets
################################
.env
.env.*
**/.env

################################
# Node (k8s proxy)
################################
node_modules/
/node_modules
/dist
/build
/.vscode
/.idea
*.tmp
*.bak
*.swp
*.swo


/target
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp
*.bak
################################
# Jib cache
################################
**/jib-cache/

################################
# Generated code
################################
**/generated-sources/
**/generated-test-sources/